* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif
    // font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
}

body{
    height: 80vh;
    background-color: #fffbf4b6;
}

.notFound{
    height: 80vh;
    font-size: 200%;
    margin: 2%;
}