
.detail{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    margin: 15px;

    h3{
        color: white;
    }

    img{
        height: 50vh;
    }

    p{
        color: rgb(0, 0, 0);
        padding: 15px;
    }
}


.divVestidos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 5px black solid;
    border-radius: 10px;
    margin: 50px;
    background-color: white;

    button{
        padding: 10px;
        margin: 10px;
        background-color: rgba(199, 150, 255, 0.623);
        border: 1px black solid;
        border-radius: 20px;
    }
}


.botonVolver{
    padding: 15px;
    background-color: rgba(137, 43, 226, 0.342);
    color: white;
    position: fixed;
    left: 0%;
    top: 10%;
    font-size: 80%;
}