footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(107, 107, 107);
    height: 10vh;
    position: sticky;
    bottom: 0%;
    width: 100%;
    .redes{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}